<html>
    <head>
        <title>Sentiment Analysis</title>  
        <!-- <link  href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <style>
            body{
                background-image: url("{{ url_for('static', filename='images/backgroundindex.png') }}");
            }
        </style> -->
    </head>
    <body>

        <div class="jumbotron text-center" >
            <h1>Sentiment Analysis</h1>
            <p>A Project to Determine the Emotion Polarity from the Service Quality Reviews of Air Transport</p> 
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                
                    <a class="navbar-brand" href="/">Review Sentiment Analyzer</a>
                  </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{{ url_for('logistic') }}">Logistic Regressor</a></li>
                    <li><a href="{{ url_for('svm') }}">Linear SVM Model</a></li>
                    <li><a href="{{ url_for('cnn') }}">CNN</a></li>
                    <li><a href="{{ url_for('lstm') }}">LSTM</a></li>
                    <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                  </ul>
                </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 style='text-align: justify;'><b>What is Sentiment Analysis?</b></h1>
                    <h3 style='text-align: justify;' ><p class='text-info'>The study of extracted information to identify reactions, attitudes, context and emotions.As one of the applications of text mining, sentiment analysis exposes the attitudes in the mined text.
                       It is based on word polarities, it takes into account positive or negative words and neutral words are dismissed.
                    </p></h3>
                </div>
            </div><br/>
            <div class='row'>
                <div class="col-sm-6">
                    <table class='table table-hover'>
                        <tr>
                            <th style='text-align: center;'>Positive</th>
                            <th style='text-align: center;'>Neutral</th>
                            <th style='text-align: center;'>Negative</th>
                        </tr>  
                        <tr>
                            <td style="text-align:center;">Joy</td>
                            <td style="text-align:center;">Is</td>
                            <td style="text-align:center;">Bad</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">Happy</td>
                            <td style="text-align:center;">They</td>
                            <td style="text-align:center;">Disgusting</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">Pleasent</td>
                            <td style="text-align:center;">Are</td>
                            <td style="text-align:center;">Unpleasent</td>
                        </tr>
                    </table>
                </div>
                <div class='col-sm-6'>
                    <h3 style='text-align: justify;' >
                        <p class='text-info'>Sentiment analysis is done based on lexicons. A lexicon in simpler terms is a vocabulary , say the English lexicon.In this context, a lexicon is a selection of words with the two polarities that can be used as a metric in sentiment analysis.
                        </p>
                    </h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                   <center><img src="{{ url_for('static', filename='images/senti.png') }}" alt='senti'/></center>
                </div>
            </div><br/>
            <div class='row' style='background-color: gainsboro;'>
                <div class='col-sm-12'>
                    <h2 style='text-align: justify;'><b>How Sentiment Analysis works?</b></h2>
                </div>
            </div><br/>
            <div class='row'>
                <div class='col-sm-6'>
                    <!-- <h3 style='text-align: justify;' >
                         <p class='text-info'>In simple terms,sentiment analysis is performed as an intersection of a term-document (built from the mined text ) and a lexicon of choice.
                        </p>
                     </h3>   -->
                    <center><img src="{{ url_for('static', filename='images/process.jpg') }}" alt='senti'/></center>
                </div>
                <div class="col-sm-6" style='font-family: cursive; font-size: 22px; text-align: justify;'>
                    <ol type="1">
                        <li>Review is Extracted from the Source.</li><br/>
                        <li>Extraction of Opinionative and usefull words and phrases.</li><br/>
                        <li>Feature Selection is Carried Out.</li><br/>
                        <li>Sentiments are then Classified and thier polarity is determined.</li><br/>
                    </ol>
                </div>
            </div><br/>
            <div class='row' style='background-color: gainsboro;'>
                    <div class='col-sm-12'>
                        <h2 style='text-align: justify;'><b>About this Project.</b></h2>
                    </div>
                    
            </div><br/>
            
            <!---To be Continue...-->
            <div class='row'>
                <div class='col-sm-12'>
                    <p style='font-family: cursive; font-size: 15px; color: rgb(20, 15, 1); text-align: justify;'><b>Every day, over 100,000 flights carry passengers to and from destinations all around the world, and it’s safe to say air travel brings out a fairly mixed bag of emotions in people. Through social media, customers now have a platform to say exactly what’s on their mind while they are traveling, creating a real-time stream of customer opinion on social networks or directly on the website of the Airline.</b></p>
                </div>
            </div><br/>

            <div class='row'>
                <div class='col-sm-6'>
                        <div class="media">
                                <div class="media-left">
                                  <img src="{{ url_for('static', filename='images/man.png') }}" class="media-object" style="width:60px">
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">John Major<small><i> Posted on February 19, 2016</i></small></h4></h4>
                                  <p style='text-align: justify;'>Smart and efficient service. Small planes but as a tall man (6ft 4) I did not feel cramped either on the CRJ-200 (AMS-LJU) or the CRJ-900 (LJU-AMS). The cabin crew were friendly and the food for such a short flight was good. Also the price was right.
                                    </p>
                                </div>
                        </div>
                </div>
                <div class='col-sm-6'>
                        <div class="media">
                                <div class="media-left">
                                  <img src="{{ url_for('static', filename='images/lady.png') }}" class="media-object" style="width:60px">
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">Casey Blake<small><i> Posted on March 21, 2015</i></small></h4></h4>
                                  <p style='text-align: justify;'>I fly at least once a month ZRH-LJU-ZRH. My experience is that the staff on the ground need a better education regarding how to care of passengers. If it comes to a delay and pax have to go to the info desk to change tickets and so on then you really see of how unfriendly and unprepared staff are. The airplanes could be cleaned better and I do also see some room for improvement for the flight staff.
                                    </p>
                                </div>
                        </div>
                </div>
            </div><br/>
            <!-- <div class="row">
                    <center>
                        <div class='col-sm-12'>
                            <div class='thumbnail'>
                                <center><img src="{{ url_for('static', filename='images/air.png') }}" alt='senti' style="width:100%;"/></center>
                                <div class='caption'>
                                    <h4><p><b>Example of the Keywords in an Airline Review Depicted in the WordCloud.</b></p></h4>
                                </div>
                             </div>   
                        </div>
                    </center>
            </div><br/> -->
            <div class='row'>
                    <div class='col-sm-12'>
                        <p style='font-family: cursive; font-size: 15px; color: rgb(20, 15, 1); text-align: justify;'><b>Sentiment analysis, also known as opinion mining, allows us to use computers to analyze the sentiment of a piece of text. Essentially analyzing the sentiment of text allows us to get an idea of whether a piece of text is positive, negative or neutral.
                        <br/><b>Since the data we fetched was unlabelled data in terms of Sentiment, So We used the pyhon library known as TextBlob to first find the subjective polarity of the reviews. 
                                After that, Sentiment corrosponding 1 for positive ,-1 for negative and 0 for neutral is given to each review.   
                            </b>
                        <br/> For example, below is a chart showing the sentiment of Reviews we gathered that of target airlines from <a href='skytraxratings.com' target='_blank'>Skytrax Rating Wesbite</a> Github Repository.</b>
                            
                        </p>
                    </div>
                    
            </div><br/>

            <div class='row'>
                    <div class='col-sm-12'>
                            <center><img src="{{ url_for('static', filename='images/sentimentgraph1.png') }}" alt='senti'/></center>
                    </div>
            </div><br/>

            <div class='row'>
                    <div class='col-sm-12'>
                            <p style='font-family: cursive; font-size: 15px; color: rgb(20, 15, 1); text-align: justify;'>
                            <b>
                                The chart shows the high level summary of the people's opinions towards each airline. You can see that sentiments are more negative than positive in case of spirit airlines wherease
                                sentiments are more positive in case of british airlines.
                                <br/>
                                This gives us a good understanding of the public’s opinion about these certain airlines at the time we collected the reviews, it actually doesn’t tell us much about what exactly people were speaking positively or negatively about.
                            </b>
                            </p>
                    </div>
            </div><br/>

            <div class='row'>
                <div class='col-sm-12' style='background-color: darkmagenta; border-radius: 20px; color:white;text-align: justify; font-family: sans-serif;
                font-size: 15px;'>
                <p>Sentiment analysis  becomes a  very active  research area  in the  text mining  field.  It aims  to extract  people's opinions, sentiments, and subjectivity from the  texts. Sentiment  analysis can be performed at  three levels:  at document  level, at sentence level and at aspect level. An important part of research effort focuses on document level sentiment classification, including works on  opinion classification of reviews.</p>
                </div>
            </div><br/>
            
            <div class='row'>
                    <div class='col-sm-12'>
                            <p style='font-family: cursive; font-size: 15px; color: rgb(20, 15, 1); text-align: justify;'>
                            <b>
                                The Main Aim of the Project is to compare the different algorithms working on the Document Level Sentiment Analysis and suggesting the future scope of the Sentiment Analysis in the business escalation and its application in the Industry.
                            </b>
                            </p>
                    </div>
            </div><br/>

        </div>
          
    </body>
</html>